$primary: #262626;
$secondary: #6a6a6a;
$gray: #8d8d8d;
$white: #ffffff;
$lightgrey: #e2e2e2;
$background-color: #e5e5e5;
$headline: #463f3a;
$pink: #c32c72;
$backround-nav: #f4f3ee;
$yellow-grey: #f4f3ee;

$font: "open-sans", sans-serif;
$navbar-light-color: $primary; // nav-items
$navbar-light-active-color : $pink; //active nav-items
